@charset "UTF-8";
/* CSS Document */

/* White = f2f2f3
   Gray = 353535
   Red = c13e3d
   */
html {
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    height:auto;
    min-height:800px;
}

body {
    background-color:#f2f2f3;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
    font-size: 16pt;
    width: auto;
    padding: 0;
    margin: 0;
    height:auto;
    min-height: 800px;
    display:flex;
    flex-direction: column;
}

div#background {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index: -1;
}

.texture {
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0.9;
}

p {
    font-size:.8em;
    color:#353535;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
    line-height: 1em;
}

h1 {
    font-size:1em;
    color:#353535;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
}

h2 {
    font-size:1em;
    color:#353535;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
    align-content:end;
}

.navbar{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0px 20px;
    background:#f2f2f3;
    margin-top:-7px;
    justify-content: space-between;
}

.brand{
    display:flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 85px;
    height: auto;
    margin-top: 11px;
}

.name {
    font-size:1.6em;
    font-weight: bold;
    color:#353535;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman","serif";
    /* font-family:"Eras Bold ITC", "sans-serif" */
}

ul#nav {
    list-style: none;
    text-align: right;
    font-size: 1em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display:inline-block;
}

    ul#nav li {
        display: inline;
    }

    ul#nav li a {
        color: #353535;
        text-decoration: none;
        padding-left:10px;
        padding-right:10px;
    }

    ul#nav li a:hover {
        color: #c13e3d;
    }

a {
    text-decoration:none;
    color:#353535;
}

a:hover {
    color:#c13e3d
}

div#pagewrap {
    flex:1;
    position:relative;
    z-index:1;
    text-align:center;
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding:20px;
    min-height:calc(100vh - 150px);
    padding:20px;
}

div#about_me {
    display:flex;
    align-items: flex-start;
    max-width: fit-content;
    gap:70px;
    margin:auto;
    padding:20px 40px;
}

div#portrait img {
    width: 450px;
    height: auto;
    border-radius: .7em;
    float:left;
    margin: 70px;
}

div#about_text {
    flex: 1;
    text-align: left;
    align-content:center;
    padding-top:100px;
    padding-right:80px;
}

.reach_out{
    font-weight:bold;
}

 .about {
    line-height: 2em;
 }






footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    margin: 0;
    padding: 0;
    background-color:#f2f2f3;
    width:100%;
    height: 50px;
}

.footer_name {
    color:#353535;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
    padding-left:20px;
}