@charset "UTF-8";
/* CSS Document */

/* Colors for styling
   White = f2f2f2
   Gray = 383838
   Red = a7403f
*/

/* Main characterisitcs for files */

html {
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    height:auto;
    min-height:800px;
}

body {
    background-color:#f2f2f2;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
    font-size: 16pt;
    width: auto;
    padding: 0;
    margin: 0;
    height:auto;
    min-height: 800px;
    display:flex;
    flex-direction: column;
}

/* Text tags */

p {
    font-size:.8em;
    color:#383838;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
    line-height: 1em;
}

h1 {
    font-size:1em;
    color:#383838;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
}

h2 {
    font-size:1em;
    color:#383838;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
    align-content:end;
}

/* Navbar, logo, and tabs*/

.navbar{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0px 20px;
    background:#f2f2f2;
    margin-top:-7px;
    justify-content: space-between;
}

.brand{
    display:flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 85px;
    height: auto;
    margin-top: 11px;
}

.name {
    font-size:1.6em;
    font-weight: bold;
    color:#383838;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman","serif";
    /* font-family:"Eras Bold ITC", "sans-serif" */
}

ul#nav {
    list-style: none;
    text-align: right;
    font-size: 1em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display:inline-block;
}

    ul#nav li {
        display: inline;
    }

    ul#nav li a {
        color: #383838;
        text-decoration: none;
        padding-left:10px;
        padding-right:10px;
    }

    ul#nav li a:hover {
        color: #a7403f;
    }

a {
    text-decoration:none;
    color:#383838;
}

a:hover {
    color:#a7403f;
}

/* Background specifically for home page */

div#background {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index: -1;
}

.texture {
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0.9;
}

/* Style for body of pages */

div#pagewrap {
    flex:1;
    position:relative;
    z-index:1;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    min-height:calc(100vh - 150px);
    padding:20px;
}

/* Portfolio Boxes and any styling for Portfolio */

.wrapping {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px; 
    box-sizing: border-box;
}

.project-grid {
    display:flex;
    flex-wrap: wrap;
    gap:40px;
    justify-content: center;
    transform: translateY(-50px);
}

.project-card {
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    flex: 0 0 300px;
    max-width:300px;
}

.project-card:hover {
    transform:translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-image img {
    width: 100%;
    height: auto; 
}

.project-info {
    padding: 16px;
    text-align: center;
}

.project-info h1 {
    margin: 0;
    font-size:1.2em;
}

/* Tool Boxes and any styling for Tools */

.tool-grid {
    display:flex;
    flex-wrap: wrap;
    gap:40px;
    justify-content: center;
    transform: translateY(-92px);
}

.tool-card {
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    flex: 0 0 300px;
    max-width:300px;
}

.tool-card:hover {
    transform:translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.tool-image img {
    width: 100%;
    height: auto;
}

.tool-info {
    padding: 16px;
    text-align: center;
}

.tool-info h1 {
    margin: 0;
    font-size:1.2em;
}

/* Color Palette Creator Tool */

.palette button {
    outline: none;
    border: none;
    padding: 0.7em 2em;
    font-size: 1.1em;
    position: absolute;
    top:-1em;
    left:50%;
    transform: translateX(-50%);
    border-radius: 2em;
    background:#383838;
    color:#f2f2f2;
    font-weight: 500;
    letter-spacing: 2px;
    
}

.palette button:hover {
    background:#a7403f;
    color:#f2f2f2;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.palette {
    position: relative; 
    background: #ffffff;
    width: 45em;
    height:25em;
    border-radius: 20px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #383838;
    padding-top: 5em;
    box-sizing: border-box;
}

.colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    height: 100%;
    border-radius: 20px;
}

.colors > div {
    width: 25%;
}

.color {
    background: #383838;
    height: 17em;
    width: 100%;
}

.colors h4 {
    font-size: 0.9em;
}



@media screen and (max-width:500px) {
    body { padding: 2em; }
    .palette { height: initial; }
    .colors { flex-direction: column; }
    .colors > div { width: 100%; }
}

@keyframes fadeIn {
    to { opacity: 1; }
}





/* About me page */

div#about_me {
    display:flex;
    align-items: flex-start;
    max-width: fit-content;
    gap:70px;
    margin:auto;
    padding:20px 40px;
}

div#portrait img {
    width: 450px;
    height: auto;
    border-radius: .7em;
    float:left;
    margin: 70px;
}

div#about_text {
    flex: 1;
    text-align: left;
    align-content:center;
    padding-top:100px;
    padding-right:80px;
}

.reach_out{
    font-weight:bold;
}

 .about {
    line-height: 2em;
 }

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    margin: 0;
    padding: 0;
    background-color:#f2f2f2;
    width:100%;
    height: 50px;
}

.footer_name {
    color:#383838;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
    padding-left:20px;
}