@charset "UTF-8";
/* CSS Document */

/* White = f2f2f3
   Gray = 353535
   Red = c13e3d
   */
html {
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
}

body {
    background-color:#f2f2f3;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
    font-size: 16pt;
    width: auto;
    padding: 0;
    margin: 0;
    height:800px;
    display:flex;
    flex-direction: column;
}

.tools {
    background-color:#f2f2f3;
}

.about {
    background-color:#f2f2f3
}

.portfolio {
    background-color:#f2f2f3;
}

div#background {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index: -1;
}

.texture {
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0.9;
}

h1 {
    font-size:.8em;
    color:#353535;
    text-align:left;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
}

.navbar{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0px 20px;
    background:#f2f2f3;
    margin-top:-7px;
    justify-content: space-between;
}

.brand{
    display:flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 85px;
    height: auto;
    margin-top: 11px;
}

.name {
    font-size:1.6em;
    font-weight: bold;
    color:#353535;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
}

ul#nav {
    list-style: none;
    text-align: right;
    font-size: 1em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display:inline-block;
}

    ul#nav li {
        display: inline;
    }

    ul#nav li a {
        color: #353535;
        text-decoration: none;
        padding-left:10px;
        padding-right:10px;
    }

    ul#nav li a:hover {
        color: #c13e3d;
    }

div#pagewrap {
    flex:1;
    position:relative;
    z-index:1;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    min-height:calc(100vh - 150px);
    padding:20px;
}








footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    margin: 0;
    padding: 0;
    background-color:#f2f2f3;
    width:100%;
    height: 50px;
}

.footer_name {
    color:#353535;
    font-family: "Cambria","Cochin", "Georgia", "Times", "Times New Roman"," serif";
    padding-left:20px;
}